/* Общие стили для всего приложения */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  line-height: 1.6;
}

/* ссылка */

a {
  position: relative;
  color: #3498db;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #3498db;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
}

/* Контейнеры страниц */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Навигация */
.page__nav {
  position: absolute;
  top: 20px;
  left: 20px;
}


/* Круглая кнопка */
.button-round {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: linear-gradient(135deg, #a0e8af, #88d494);
  /* Лёгкий градиент */
  color: #333;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

.button-round:hover {
  background-color: #76c782;
  transform: scale(1.1);
}

.button-round__go {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.button-round__text {
  font-size: 16px;
  color: #333;
}

/* Стили для главной страницы */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #f0f4f8;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-page__nav {
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-page__title {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 12px;
}

/* Стили для круглой кнопки */
.main-page__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #a0e8af;
  color: #333;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

.main-page__button:hover {
  background-color: #88d494;
  transform: scale(1.1);
}

.main-page__button-go {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-page__button-text {
  font-size: 16px;
  color: #333;
}

/* карточка пользователя */
.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 8px 0;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.user-card:first-child {
  margin-top: 0;
}

.user-card:hover {
  background-color: #e6f7ff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Усиленная тень */
}

.user-card::after {
  content: "▶";
  font-size: 18px;
  color: #3498db;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.user-card:hover::after {
  transform: scale(1.2);
}

.user-card__text {
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
  text-align: start;
}

/* Стиль для карточки задачи */
.todo-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 8px 0;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Индикатор выполнения */
.todo-card__indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.todo-card__indicator--completed {
  background-color: #4caf50;
}

.todo-card__indicator--not-completed {
  background-color: #f44336;
}

.todo-card__text {
  font-size: 16px;
  color: #333;
}

/* Контейнер для списка пользователей и списка задач */
.todos-page__content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* Стили для UserList */
.user-list {
  flex-basis: 25%;
  max-width: 300px;
}

/* Стили для TodoList */
.todo-list {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.todo-container {
  max-width: 100%;
  height: 374px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-basis: 50%;
  width: auto;
}

.todo-card__item {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.todo-card__item--completed {
  border-left: 4px solid green;
}

.todo-card__item--not-completed {
  border-left: 4px solid red;
}

.todo-indicator {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 50%;
}

.load-more-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  color: #333;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
  width: fit-content;
  align-self: center;

}

.load-more-button:hover {
  background-color: #d0d0d0;
}

.todos-page__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 10px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}